
{% extends 'base.html' %}

{% block main %}

    <div class="row">
    

        <div class="col-12">
            <h3 class="title">Lista de Ramais</h3>

            <table class="table table-hover">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ramal</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Setor</th>
                    <th scope="col">Responsável</th>
                    <th scope="col">Ativo</th>
                    <th colspan="2">Opções</th>
                  </tr>
                </thead>
                <tbody>
                    {% for phone in phones %}
                        <tr>
                            <th scope="row">{{ phone.id }}</th>
                            <td>{{ phone.phone_number }}</td>
                            <td>{{ phone.phone_type }}</td>
                            <td>{{ phone.department }}</td>
                            <td>{{ phone.get_sponsor }}</td>
                            <td>{{ phone.get_active }}</td>
                            <td> <a href="{% url 'phone_show' phone.id %}">Visualizar</a></td>
                            <td> <a href="{% url 'phone_edit' phone.id %}">Atualizar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>

            <br>
            <a href="{% url 'phone_new' %}" class="btn btn-primary"> Novo Ramal</a>

           
        </div>

        
    </div>


{% endblock %}